<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempalte</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
    
    <div id="app">
        <p v-once >Curo: {{ curso }} | {{ aluno }} </p>
        <a v-bind:href="docs">Vue Docs</a>
        <p>Instrutor: {{ intrutor }}</p>
        <div v-html="htmlp" ></div>
        <div>{{ htmlp }}</div>
    </div>

    <script>

        new Vue({
            el:'#app',
            data:{
                curso:'VueJS',
                aluno: 'Vinicio D. Brejinski',
                docs: 'https://vuejs.org',
                intrutor:"Plínio Naves",
                htmlp: "<p>Teste</p>"
            },
        })

    </script>

</body>
</html>